[Desktop Entry]
Type=Application
Name=SKLauncher
Comment=Launcher No Premium para Minecraft
Icon=~/SKLauncher/icon.png
Exec=java -jar -Dsun.java3d.opengl=true ~/SKLauncher/SKlauncher.jar
Terminal=false
Categories=Minecraft;game
